@using Microsoft.Extensions.Logging

@if (isLoading)
{
    <h1>Downloading pokemon in background...</h1>
    @* <button onclick="@InvokeAsync(StateHasChanged)">Refresh</button> *@
}
    <div class="grid">
        <QuickGrid Items="@FilteredItems" Pagination="@pagination">
            <TemplateColumn Align="Align.Center">
                <img class="sprite" src="@(context.FrontSpriteUrl)" />
            </TemplateColumn>
            <PropertyColumn Property="@(c => c.Name)" Sortable="true" Class="poke-name">
                <ColumnOptions>
                    <div class="search-box">
                        <input type="search" autofocus @bind="nameFilter" @bind:event="oninput" placeholder="Pokemon name..." />
                    </div>
                </ColumnOptions>
            </PropertyColumn>
            <PropertyColumn Property="@(c => c.Id)" Title="No." Sortable="true" Align="Align.Right" InitialSortDirection="SortDirection.Ascending" IsDefaultSortColumn="true" />
            <PropertyColumn Property="@(c => c.Height)" Sortable="true" Align="Align.Right" />
            <PropertyColumn Property="@(c => c.Weight)" Sortable="true" Align="Align.Right" />
        </QuickGrid>
    </div>

    <Paginator State="@pagination" />

@inject ILogger<PokemonSearchGrid> Logger

@code {
    PaginationState pagination = new PaginationState { ItemsPerPage = 10 };
    string nameFilter = string.Empty;
    IQueryable<IPokemonSummary>? UnfilteredItems;
    IQueryable<IPokemonSummary>? FilteredItems => UnfilteredItems?.Where(x => x.Name.Contains(nameFilter, StringComparison.CurrentCultureIgnoreCase));

    Task loadTask = null;
    bool isLoading => !loadTask?.IsCompletedSuccessfully ?? false;

    protected override async Task OnInitializedAsync()
    {
        UnfilteredItems = await PokemonSummaryClient.GetPokemonSummariesAsync();
        if (UnfilteredItems.Count() < PokemonConstants.NumberOfTotalPokemon)
        {
            loadTask = PokemonSummaryClient.FetchAsync();
        }
        InvokeAsync(StateHasChanged);
    }
}
